.playground {
  display: flex;
}

.playground-icon {
  width:50px;
  height:50px;
  cursor: pointer;
}

.playground-icon:hover rect:not(:first-of-type) {
  fill: #e67e22;
}
.playground-icon:hover path {
  fill: #e67e22;
}